@import '../../main-styles.scss';

.note-card-container {
    position: relative;
    background: white;
    border-radius: 5px;
max-width: 500px;

    box-shadow: 0px 2px 15px 2px rgba(0, 0, 0, 0.068);


    &:hover {
        cursor: pointer;
        box-shadow: 0px 0px 0px 4px rgba(0, 0, 0, 0.068);
        transition: box-shadow 0.2s ease-out;

        .x-button {
            opacity: 1;
            transition-delay: 0.25s;
        }

    }
    .note-card-content {
        padding: 25px;

        .note-card-title {
            font-size:22px;
            font-weight: bold;
            color: $purple;
        }

        .note-card-body {
            position: relative;

          max-height: 80px;
        overflow: hidden;

        .fade-out-truncation {
            pointer-events: none;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 50%;
            background: linear-gradient(to bottom, rgba(255, 255, 255, 1), 0%, rgba(255, 255, 255, 1) 50% white 100%);
        }
        
    }
    }
}

.x-button {
    position: absolute;

    top: 12px;

    right: 12px;

    height: 34px;
    width: 34px;
    background-image: url(../../assets/close-red-icon.svg);
    background-size: 24px 24px;
    background-repeat: no-repeat;
    border-radius: 4px;

    transition: opacity 0.2s ease-out;

    opacity: 0;
    transition: scale 0.2s ease-out;

   


    &:active {
        background-color: darken(lightcoral, 6%);
    }
}