@import '../../main-styles.scss';

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 500px;
    margin: auto;
    padding: 20px;


    .search-bar-container {
        width: 100%;
        margin-bottom: 20px;
    }
}

.notes-list {
    margin-top: 35px;

}

app-notes-app {
    display: block;
    margin-bottom: 25px;
}

.floating-add-button {
    position: fixed;
    bottom: 0;
    width: 500px;
    border-radius: 0;
    height: 68px;
    font-size: 24px;
    box-shadow: 0px 0px 15px 5px rgba($purple, 0.2);
}