@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors
$purple: #859ad7;
$pink: #fe76e2;
$blue: #37c7f2;

// Set your brand fonts
$light-red: #ff5f5f;
$light: #fafcff;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$grey-light: $pink;
$primary: $purple;
$link: $blue;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $light;
$control-border-width: 2px;
$input-border-color: transparent;
$input-background-color: #f3f5fa;

$input-shadow: none;


html , body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: $family-sans-serif;
  font-size: 16px;
  color: #4a4a4a;
  background-color: $body-background-color;
}

